API_PORT=4000
VITE_PORT=3000
DATABASE_URL=postgresql://postgres:NeHmrPOjGFVEADOSiAbGREhDzHqkQLMt@trolley.proxy.rlwy.net:14642/railway
ADMIN_EMAIL=admin@mealgo.com
ADMIN_PASSWORD=admin123
CLIENT_URL=http://localhost:3000
VITE_API_URL=http://localhost:8080
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT_URI=http://localhost:4000/auth/google/callback
PRIVATE_KEY=0xed815608939afbea2023f92d34524a75b353929bbd9d386d51b8190644f8caf7
# RPC endpoint used by ethers.js when minting coupons (Ganache or other network)
RPC_URL=http://127.0.0.1:7545

# address of the deployed CouponNFT contract; update after deploying with hardhat
NFT_CONTRACT_ADDRESS=0xcD446E1b6EFc44A1cDa35b8474a343daaC0e613e
