API_PORT=4000
VITE_PORT=3000
DATABASE_URL=postgresql://postgres:NeHmrPOjGFVEADOSiAbGREhDzHqkQLMt@trolley.proxy.rlwy.net:14642/railway
ADMIN_EMAIL=admin@mealgo.com
ADMIN_PASSWORD=admin123
CLIENT_URL=https://meal-go-git-main-jhk442550-9902s-projects.vercel.app
VITE_API_URL=https://mealgo-production.up.railway.app
OOGLE_CLIENT_ID=952187394639-vtig7cqr57gpfjn6446o3vkg5b3mnnjv.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=https://mealgo-production.up.railway.app/auth/google/callback
PRIVATE_KEY=f8a9cf43a9f67f48e9b3bf50dc8f9f4ebfe7aa70c5eb9a3e1e9ca255589cff38
# RPC endpoint used by ethers.js when minting coupons (Ganache or other network)
RPC_URL=https://sepolia.infura.io/v3/4c880e52c9ec4d2980a13197832f5459

# address of the deployed CouponNFT contract; update after deploying with hardhat
NFT_CONTRACT_ADDRESS=0x50C682F1967c5a82178EB4b78E09a553bEb7B0E5
